.portraitSection__container {
	border: 3px solid rgb(126, 164, 244);
	border-radius: 6px;
	width: 200px;
	height: 200px;
}

.portraitSection__container img {
	border: 2px solid #070720;
}

.portraitSection img {
	width: 100%;
	height: 100%;
	background: rgb(1, 67, 117);
	background: linear-gradient(191deg, rgba(1, 67, 117, 1) 15%, rgba(147, 191, 246, 1) 100%);
}

.presentation {
	margin-top: 15px;
	background-color: #191937;
	color: white;
	padding: 15px;
	border-radius: 6px;
}

.presentation li {
	max-width: 173px;
	font-size: 12px;
	list-style-type: disc !important;
	color: white;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #bbbedb;
	margin-left: 5px;
}

.presentation h2 {
	font-size: 13px;
	color: white;
	margin-bottom: 9px;
	position: relative;
	padding-left: 20px;
}

.presentation h2::before {
	content: '';
	position: absolute;
	left: 7px;
	top: 8px;
	height: 15px;
	width: 3px;
	background-color: rgb(50, 115, 250);
}

.linksSection {
	padding: 10px 0 10px 10px;
	background-color: #191937;
	color: white;
	right: 0px;
	top: 78px;
	font-size: 12px;
	height: fit-content;
	border: 3px solid rgb(126, 164, 244);
	border-radius: 6px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 194px;
	height: 194px;
}

.linksSection button {
	border-color: #2963da;
	background-color: #2963da;
	color: white;
	font-weight: 600;
	padding: 5px;
	cursor: pointer;
	margin-top: 15px;
}

.linksSection img {
	width: 141px;
}

.linksSection p {
	border-top: 1px solid #E5E5E5;
	padding: 10px 5px 0px 5px;
}

.linksSection a {
	text-decoration: none;
	color: #3B5998;
}

.mainZone {
	width: 80%;
}

.mainZone h1 {
	font-size: 16px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	margin-right: 7px;
	color: white;
}

.flashCards .title {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.flashCards .title p {
	font-size: 13px;
}

.flashCards h2 {

	color: white;
	font-size: 23px;
	font-weight: bold;
	padding: 4px 11px;
	display: inline-block;
}

.fakePost {
	display: flex;
	margin-top: 15px;
	border-top: 1px solid #D8DFEA;
}

.fakePost__pictures img {
	width: 50px;
	height: 50px;
	background: rgb(1, 67, 117);
	background: linear-gradient(191deg, rgba(1, 67, 117, 1) 15%, rgba(147, 191, 246, 1) 100%);

}

.fakePost__pictures {
	margin-top: 15px;
}

.fakePost__text {
	margin-top: 15px;
	padding-left: 10px;
}

.fakePost__text--title {
	color: #3B5998;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 17px;
	margin-bottom: 15px;
	color: white;
}

.fakePost__text--main {
	max-width: 450px;
	font-size: 12px;
	margin-bottom: 5px;
}

.fakePost__text--litleTitle {
	font-size: 13px;
	font-weight: 600;
	margin-top: 20px;
	color: white;
}











.semaine {
	display: flex;
	flex-wrap: wrap;
	margin-top: 9px;
	margin-left: 15px;
}

.semaine ul {
	margin: 0px;
	padding: 0px;
	margin-top: 15px;
}



.add-btn {
	margin-top: 9px;
	margin: 15px 0px 19px 15px;
}

.numero {
	font-size: 8px;
}

.day_para {
	max-width: 173px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	max-width: 100px;
	color: white;
	font-weight: 600;
	position: relative;
}

.mois {
	font-size: 16px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	margin: 0px 7px 0px 16px;
	font-weight: 600;
	color: white;
	padding: 5px;
}

.mois::before {
	content: '';
	position: absolute;
	left: 7px;
	top: 8px;
	height: 15px;
	width: 3px;
	background-color: rgb(50, 115, 250);
}

li {
	display: flex;
	justify-content: start;
	align-items: center;
	cursor: pointer;
	margin-bottom: 5px;
}

li img {
	width: 20px;
	height: 20px;
	margin-right: 4px;
}

.modal_answer {
	transform: translateY(-200px);
	top: 40%;
	z-index: 9999;
	animation-name: descendDuCiel;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	padding: 10px;
	position: absolute;
	display: none;
	padding: 48px;
	background-color: #11112a;
	color: white;
	border: 1px solid aliceblue;
}

.modal_answer p {
	font-size: 15px;
	margin-bottom: 24px;
	font-weight: 600;
}

.modal_name {
	transform: translateY(-200px);
	top: 40%;
	z-index: 9998;
	animation-name: descendDuCiel;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	border: 1px solid black;
	background-color: white;
	padding: 30px;
	position: absolute;
	display: none;
	padding: 48px;
	background-color: #11112a;
	color: white;
	border: 1px solid aliceblue;
}

.formNameMatiere input {
	background-color: white;
	color: black;
}

.formNameMatiere select {
	background-color: white;
	color: black;
}

@keyframes descendDuCiel {
	0% {
		transform: translateY(-200px);
	}

	100% {
		transform: translateY(0px);
	}
}







/* -----CIMETIERE------ */
.cimetiere_zone {
	width: 500px;

	position: relative;
	margin-top: 50px;
}

.undoneTasks_logo {
	width: 100%;
}

.undoneTasks_zone {
	padding: 10px;
	background: #ECEFF5;
	font-size: 17px;
	font-weight: 600;
	border: 1px solid #94A3C4;
}

.undoneTasks_logo__titre {
	font-size: 14px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	background-color: rgba(98, 122, 173);
	color: white;
	font-weight: 600;
	padding: 4px 20px;
}

.undoneParaDate {
	font-weight: 500;
	color: #3B5998;
}

.undonePara {
	cursor: pointer;
}

.undoneDiv {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
	padding: 7px 10px;
}

.undoneDiv img {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	margin-right: 15px;
	background-color: white;
}

.header_container {
	display: flex;
}

.btnSeeAll {
	display: flex;
	justify-content: center;
	align-items: center;
}

.undoneImg,
.undoneParaName,
.undoneParaDate {
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	word-break: break-all;
	font-size: 12px;
	font-weight: 600;
}

.myName,
.selectionMatiere {
	color: black;
}

.quitModalName {
	margin: 15px;
}

.yesNo {
	display: flex;
}

.undoneTasks_img {
	width: 200px;
}

.iconDelete {
	margin-left: 10px;
	cursor: pointer;
	border: 1px solid black;
	padding: 4px;
	border-radius: 5px;
	background-color: white;
	color: rgb(249, 95, 95);
}

.iconReset {
	margin-left: 10px;
	cursor: pointer;
	border: 1px solid black;
	padding: 4px;
	border-radius: 5px;
	background-color: white;
	color: rgb(37, 189, 87);
}

.undoneTasks_logo {
	position: relative;
	padding-left: 15px;
}

.undoneTasks_logo .undoneTasks_img {
	position: absolute;
	top: -80px;
	right: -59px;
}

@media screen and (max-width: 600px) {
	body .btn {
		font-size: 12px;
		margin: 10px 0px;
	}

	body .modal_name {
		width: 300px;
	}

	body .modal_answer {
		width: 300px;
	}
}

/* NEWS  */
.modal_name {
	padding: 48px;
	background-color: #11112a;
}

.modal_name h2 {
	font-size: 15px;
}





.modal_answer_input {
	transform: translateY(-200px);
	top: 40%;
	z-index: 9999;
	animation-name: descendDuCiel;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	position: absolute;
	display: none;
	border: 1px solid #94A3C4;
	padding: 10px;
	background: #ECEFF5;
}

.modal_answer_input h2 {
	font-size: 15px;
	margin-bottom: 15px;
}

.btnCool {
	margin-right: 15px;
}

.semaine_zone {
	animation-name: rightToLeft;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	background: linear-gradient(226.7deg, #313160 -134.31%, #191937), #191937;
	margin: 0px 15px;
}

.flashCards {
	animation-name: rightToLeft;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	color: white;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #bbbedb;
	margin-left: 5px;
}

.cardSpan {
	margin-left: 5px;
	font-weight: 12px;
}

@keyframes rightToLeft {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@media screen and (max-width: 670px) {
	body .undoneTasks_img {
		width: 100px;
	}

	body .cimetiere_zone {
		width: 280px;
	}

	body .undoneTasks_logo .undoneTasks_img {
		position: absolute;
		top: -28px;
		right: -16px;
	}

	body .flashCards {
		margin-top: 50px;
		width: 280px;
	}
	html body {
		width: 100%;
	}
}

.semaine__titre {
	font-size: 13px;
	font-weight: bold;
	padding: 4px 11px;
	display: block;
	margin-right: 4px;
	color: rgba(255, 255, 255, .5);
	box-shadow: inset 0 2px 0 rgba(50, 115, 250, .5), inset 0 -2px 2px rgba(0, 0, 0, .2);
	border-radius: 3px 3px 0 0;

}


.currentDay {
	color: white;
	font-size: 13px;
	font-weight: bold;
	padding: 4px 11px;
	display: inline-block;
	box-shadow: inset 0 2px 0 #ff9b00;
	background: linear-gradient(226.7deg, #000 -134.31%, #414186), #191937;
}

.semaine li {
	border-radius: 3px;
	background-color: #11112a;
	padding: 10px;
	margin: 6px;
}

@media screen and (max-width:1010px) {
	body .portraitSection {
		display: none;
	}

	body .linksSection {
		display: none;
	}

	html body .flashCards {
		width: 100%;
		padding-left: 0px;
		margin-top: 0px;
		padding: 37px 37px 37px 52px;
	}

	body .mainZone {
		width: 100%;
	}
}