.Generalmodal {
    display: none;
}

.generalModal__container {
    border: 1px solid #94A3C4;
    padding: 10px;
    background: #ECEFF5;
    width: 100%;
}

.generalModal__container__header {
    display: flex;
    justify-content: flex-end;
}

.generalModal__container__header--quit {
    cursor: pointer;
}

.cardContainer img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.cardContainer {
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor:pointer;
}
.cardContainer:hover{
    background-color:rgba(255,255,255,.5);
}

@media screen and (max-width:530px) {
    .generalModal__container {
        width: 95%;
        margin: auto;
    }
}